body{
    margin: 0;
}
.navbar-brand{
    font-family: "Gabarito", sans-serif;
    color: #B17457;
    font-weight: 400;
}
.nav-item{
    font-family: "Gabarito", sans-serif;
    color: #000000;
}
.nav-underline .nav-link{
    color: #B17457;
}
.form-control{
    color: #000000;
    font-family: "Gabarito", sans-serif;
    
}
.btn-outline-secondary{
    outline-color: #B17457;
    font-family: "Gabarito", sans-serif;
    color: #B17457;
}
.btn-outline-secondary:hover{
    background-color:#B17457 ;
    outline-color: #B17457;
}
.card-body{
    margin: 10vh auto;
}
.card-title{
    margin: 10vh auto;
    font-family: "Poiret One", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.card-text{
    font-family: "Gabarito", sans-serif;
    color: #B17457;
    font-size: 2rem;
}
.home-table-img-card{
    /* width: 100vw; */
    display: flex;
    justify-content: center;
}
.home-tables-img{
    width: 100vw;
    padding: 40px;
    border-radius: 50px;
}
.home-desc-para{
    font-family: "Gabarito", sans-serif;
    color: #B17457;
    text-align: center;
    padding: 50px;
}
.list-group{
    width: 50vw;
    outline: none;
}
.facility-container{
    display: flex;
    margin-bottom: 30px;
}
.form-check-label span img{
    width: 30px;
    height: 30px;
    color: #B17457;
}
.list-group .form-check-label{
    color: #B17457;
}


footer{
    margin-top: 50px;
    position: relative;
    width: 100%;
    background: #B17457;
    min-height: 100px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .social-icon,
  footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  footer .social-icon li,
  footer .menu li{
    list-style: none;
  }
  footer .social-icon li a{
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  footer .social-icon li a:hover{
    transform: translateY(-10px);
  }
  footer .menu li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: #04011C;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.5;
  }
  footer .menu li a:hover{
    opacity: 1;
  }
  footer p{
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  